nav.navbar.navbar-dark.bg-dark
  .container-fluid
    .navbar-brand
      img(src="img/arthur.gif", width="30", height="40", alt="") 
    .nav.navbar-nav.navbar-center
      span.text-white Bienvenue sur le BritQuiz
    .nav.navbar-nav.navbar-right
      
