nav.fixed-top.navbar.navbar-dark.bg-dark
  .container-fluid
    .navbar-brand
      img(src="img/arthur.gif", width="30", height="40", alt="") 
      span.p-3 BritQuiz
    .nav.navbar-nav.navbar-center
      span.text-white Bienvenue #{pseudo}
    .nav.navbar-nav.navbar-right
      form#logoutForm.form-inline.my-2.my-lg-0(action='/logout', method='POST')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Déconnexion