<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Accueil   
        link(rel="stylesheet", href="css/style.css")     
    body
        
        div                    
            p(class="msg error")=msgError             
            p(class="msg info")=msgInfos 
        
        #login
            form(id="loginForm" action="/login", method="POST")
                p Pseudo : 
                    input(type="text", name="pseudo")
                p Mot de passe : 
                    input(type="text", name="pwd")
                p 
                    input(type="submit", value="Envoyer")
                
            button(id="registerBtn") Comment, on ne se connait pas? cliquez vite ici !
        
        #register    
            form(id="registerForm" action="/register", method="POST")
                p Pseudo : 
                    input(type="text", name="pseudo")
                p Mot de passe : 
                    input(type="text", name="pwd")
                p Confirmation mot de passe : 
                    input(type="text", name="confirm")
                p 
                    input(type="submit", value="Envoyer")

            button(id="loginBtn") On se connait? c'est ici !

        script(src="../js/connect.js")