<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Erreur 
        link(rel="stylesheet", href="css/style.css")  
    body(class='erreur')
      section
         img(src="img/angry_potato.png", alt="angry potato")