<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Jeu
        link(rel="stylesheet", href="css/style.css") 
    body
        a(href="/logout") Déconnexion
        #gameIntro 
            - var sessionOtherId = otherId
            p Bonjour #{pseudo}!
            p Présentation du jeu bla bla bla
            form(id="playForm")
                    input(type="text", name="sessionOtherId", id="sessionOtherId", value=sessionOtherId)               
                    input(type="submit", value="Jouer")

        #gamesOverview
            p(id="gamesList") 
            p(id="connectedPlayers") 

            button(id="initGameBtn") Initier une partie
            button(id="enterGameBtn") Participer à une partie

        #question 
            p Score de chacun
            p Tour n°
            p(id="wordLength")
            p(id="definition")
        
            form(id="answerForm")
                p Votre réponse : 
                    input(type="text", name="answer" )
                p 
                    input(type="submit", value="Envoyer")
            p(id="result")
            p(id="answerFound")

        script(src="http://localhost:8080/socket.io/socket.io.js")
        script(src="../js/game.js")