<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Jeu
        link(rel="stylesheet", href="css/style.css") 
    body
        a(href="/logout") Déconnexion
        #gameIntro 
            - var sessionOtherId = otherId
            p Bonjour #{pseudo}!
            p Est-ce que votre anglais technique assure ? Vous pouvez vous tester en jouant contre 1 jusqu'à 5 autres joueurs. 30s pour trouver le mot répondant à la définition proposée. Le premier qui trouve marque 1 point. Et qui c'est qui gagne ? Celui qui a le plus de points après 10 tours. Vous pouvez initier une partie (cela crée une salle) ou cliquer sur une salle accessible. 
            form(id="playForm" method="POST")
                    input(type="text", name="sessionOtherId", id="sessionOtherId", value=sessionOtherId)               
                    input(type="submit", value="On y va !")

        #gamesOverview
            h3 Dernières parties
            table(id="gamesList")               
                        
            h3 Salles de jeu en cours
            p(id="roomsList")
            h3 Joueurs connectés 
            p(id="connections") 

            button(id="initGameBtn") Initier une partie 
            p(id="msgGames")

        #tracking
            ul

        #room 
            #roomPlayers 
            p(id="msgRoom") 
            #roomButtons          
                button(id="startGameBtn") Démarrer la partie
                button(id="closeRoomBtn") Fermer la salle
                button(id="leaveRoomBtn") Quitter la salle                     
            #quiz
                p(id="word")
                p(id="definition") 
                p(id="msgAnswer")           
                form(id="answerForm")
                    p Votre réponse : 
                        input(type="text", name="answer", onfocus="this.value=''" )
                    p 
                        input(type="submit", value="Envoyer")

       
        script(src="/socket.io/socket.io.js")
        script(src="../js/game.js")