<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Jeu
        link(rel="stylesheet", href="css/style.css") 
    body
        #gameIntro 
            p Bonjour #{pseudo}!
            p Présentation du jeu bla bla bla
            button(id="playBtn") Jouer 

        #gamesList
            p dernières parties jouées 
            p parties en cours
            p parties ouvertes     

            button(id="initGameBtn") Initier une partie

        #question 
            p Score de chacun
            p Tour n°
            p(id="wordLength")
            p(id="definition")
        
            form(id="answerForm")
                p Votre réponse : 
                    input(type="text", name="answer" )
                p 
                    input(type="submit", value="Envoyer")
            p(id="result")
            p(id="answerFound")


        script(src="http://localhost:8080/socket.io/socket.io.js")
        script(src="../js/jeu.js")