body {
  background-color: darkslategray;
  color: antiquewhite;
}
body.error {
  background-color: darkred;
}

.error {
  color: red;
  font-weight: bold;
}
.info {
  color: yellow;
  font-weight: bold;
}
button {
  margin: 20px;
}
a {
  color: antiquewhite;
}

#connexion {
  position:relative;
  top: 0;
  left: 0;
}

#login, #register {  
  position: absolute;
  top: 50px;
  left: 0;
}

#register, #gamesOverview, #gameRoom,#sessionOtherId, #room, #quiz {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

th, tr {
  padding: 5px 10px;
}
