body {
  background-color: darkslategray;
  color: ivory;;
}
body.error {
  background-color: darkred;
}

.error {
  color: red;
  font-weight: bold;
}
.info {
  color: yellow;
  font-weight: bold;
}
button {
  margin: 20px;
}
a {
  color: ivory;;
}

#connexion {
  position:relative;
  top: 0;
  left: 0;
}

#login, #register {   
  margin-top: 100px; 
  border-radius: 15px;
  background-color: tan;
  color: black;
}

#register, #gamesOverview, #tracking, #gameRoom, #sessionOtherId, #room, #quiz {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

th, tr {
  padding: 5px 10px;
}
